!!! 5
%html
  %head
    %title Yardsail
    != stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    != javascript_include_tag "application", "data-turbolinks-track" => true
    != csrf_meta_tags
  %body
    .row
      .column.ten
        %ul.inline.align-right
          - if signed_in? current_user
            %li= link_to 'Sign Out', destroy_user_session
          - else
            %li= link_to 'Sign in', user_session_path
            %li= link_to 'Sign up', new_user_registration_path
            
        - if flash[:notice]
          %p= flash[:notice]
        - elsif flash[:alert]
          %p= flash[:alert]
        
    .column.ten.center
      %h1.align-center Yard Sail
    = yield 
